/* *{
    margin: 0%;
} */
body{
    background-color: black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    right:0%;
    top: 0%;
    bottom:0% ;
}
.sigin{
    height:auto;
    padding: 20px;
    width: 300px;
    background-color: rgb(51, 47, 47);
    border-radius: 8px;
}
.hh{
    display: flex;
    justify-content: center;
    color: rgb(0, 255, 170);
}
.inputbox{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    
}
.in{
    background-color: rgb(67, 63, 63);
    padding: 5px;
    width: 80%;
    margin: 10px;
   
    /* display: flex;
    justify-content: flex-start; */
}
.links{
    display: flex;
    justify-content: center;
    
    
}
.log{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* width: 250px; */
    margin-top:10px ;
}
.lo{
    background-color: rgb(14, 244, 141);
    height: 30px;
    width: 260px;
    border-radius: 3px;
}
.linkss{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    right: 55px;
    /* margin: 2px; */
    /* align-items: start; */
}
.linksss{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    left: 60px;
    /* margin: 10px; */

}

 .table{
    border-collapse:collapse;
    height: 100px;
    width: 100%;
    border-spacing: 100px;
    /* margin: 10px; */
    /* color: red; */
    background-color: red;
 }


