*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
.main{
    /* background-color: #111; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    right:0%;
    top: 0%;
    bottom:0%;
   
}

.sigin{
    height:auto;
    padding: 20px;
    width: 300px;
    background-color: #222;
    /* background-color: rgb(51, 47, 47); */
    border-radius: 10px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.SIGN_IN{
    display: flex;
    justify-content: center;
    color: #0f0;
}
.inputbox{
    display: flex;
    justify-content: center;
    
    
}
.in{
    background-color: #333;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #eee;
    margin-bottom: 15px;
    width: 90%;
    margin: 10px;
    position: relative;
    right: 0px;
}
.login1{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top:10px ;
}
.login2{
    background-color: #0f0;
    color: #eee;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 250px;
    /* border-radius: 3px; */
}
.login2:hover {
    background-color: palevioletred;
  }
.forget_password{
    color: blueviolet;
    text-decoration: none;
    /* color: aliceblue; */
    position: relative;
    left: 20px;
}
.sigup{
    text-decoration: none;
    color: blueviolet;
    position: relative;
    left: 100px;
  
}
.sigup:hover{
    color: rgb(14, 244, 141);
    text-decoration: underline;}
.forget_password:hover{
    color: rgb(14, 244, 141);
    text-decoration: underline;
}
.haider{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    height: 30px;
    /* position: absolute; */
    width: 30.8px;
    margin: 2px;
    background-color: red;
    /* z-index: 1; */
    flex-grow: 1;
    flex-shrink: 1;
    /* z-index: -1; */
    transition: 0.10s;
    /* transition: background-color 1ms ease-in-out; */
}
.box1:hover{
    background-color: aqua!important;
    /* transition-delay: 3s; */

    
}

.mm{
    /* position: relative; */
    z-index: -1;
    height: 100%;
    width: 100%;
}

